/* photograph card */

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 0 15px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    "description contact img";
    align-items: center;
}

.photograph-header article {
    margin-left: 24px;
}

.photograph-header article h1 {
    color: #D3573C;
    font-size: 36px;
}

#photographer-city {
    color: #901C1C;
    font-size: 18px;
    margin-bottom: 6px;
    font-weight: 600;
}

.img_container {
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact_button {
    grid-area: contact;
}

.article {
    grid-area: description;
}

.photograph-header article .photographer-city {
    color: #901C1C;
    font-size: 20px;
    margin-bottom: 14px;
}

.photograph-header .img_container img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/* contact modal */

#contact_modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(128, 128, 128, 0.24);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 600px;
    align-items: center;
    padding: 35px;
    box-shadow: rgba(0, 0, 0, 0.521) 0 0 15px;
    overflow: auto;
    position: relative;
}

.modal header {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.modal img {
    position: absolute;
    cursor: pointer;
    top: 35px;
    right: 35px;
}

.modal-confirm img {
    width: 20px;
    position: relative;
    cursor: pointer;
    bottom: 20px;
    left: 350px;
}

.modal header h2,
.modal header p {
    font-size: 4rem;
    font-weight: normal;
    margin: 0;
}

form {
    width: 100%;
}

form label {
    color: #312E2E;
    font-size: 2.25rem;
}

form label:focus {
    color: black;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
}

form input {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 5px;
    font-size: 1.5625rem;
    border: 2px solid transparent;
}

form input:hover,
form input:focus {
    border: 2px solid #737373;
}

form textarea {
    width: 100%;
    max-width: 600px;
    height: 170px;
    border: none;
    border-radius: 5px;
    font-size: 1.5626rem;
    border: 1px solid transparent;
}

form textarea:hover,
form textarea:focus {
    border: 1px solid #737373;
}

.btn-submit:hover,
.btn-submit:focus {
    background-color: #901C1C;
}

.formData[data-error]::after {
    content: attr(data-error);
    font-size: 0.9em;
    color: #901C1C;
    font-weight: 600;
    display: block;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: left;
    line-height: 0.3;
    opacity: 0;
    transition: 0.3s;
}

.formData[data-error-visible="true"]::after {
    opacity: 1;
}

.formData[data-error-visible="true"] .text-control {
    border: 2px solid #901C1C;
}

.modal-confirm {
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    border-radius: 5px;
    background-color: #DB8876;
    width: 669px;
    padding: 35px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.521) 0 0 15px;
    font-weight: 400;
    font-size: 2.25rem;
    display: none;
}

/* sort  */

.sort {
    position: absolute;
    z-index: 1;
    display: flex;
    margin: 0 100px;
}

.sort p {
    font-size: 1.125rem;
    font-weight: 700;
}

.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170px;
    height: 70px;
    margin-left: 25px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #901c1c;
    color: white;
    border: none;
    transition: all 0.3s ease;
}

.button:hover,
.button:focus {
    background-color: #DB8876;
    color: black;
}

.menu_title {
    display: flex;
    flex: 0.7;
    font-size: 1.125rem;
    font-weight: 700;
    font-family: "DM Sans";
    justify-content: flex-start;
    margin-left: 20px;
}

#menu_arrow {
    flex: 0.3;
    width: 0.8rem;
    height: 0.8rem;
}

.selector {
    z-index: 1;
    display: none;
    flex-direction: column;
    width: 170px;
    height: 210px;
    border-radius: 5px;
    border: none;
    margin-left: 25px;
    background-color: #901c1c;
    color: white;
    cursor: pointer;
}

li {
    list-style-type: none;
}

ul {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

.line {
    display: flex;
    width: 135px;
    background-color: white;
    flex: 0.01;
    align-items: flex-end;
    margin: 0 0 0 15px;
}

.selector_pop {
    font-size: 1.125rem;
    font-weight: 700;
    height: 70px;
    transition: all 0.3s ease;
    height: 70px;
}

.selector_pop:hover,
.selector_pop:focus {
    background-color: #DB8876;
    color: black;
    border-radius: 5px 5px 0 0;
}

.selector_pop span {
    font-family: "DM Sans", sans-serif;
    font-size: 1.125rem;
}

.selector_pop span {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    height: 100%;
}

#up_arrow {
    width: 1.2rem;
    height: 1.2rem;
}

.selector_date,
.selector_title {
    margin-left: 20px;
    font-size: 1.125rem;
    font-weight: 700;
    height: 70px;
    transition: all 0.3s ease;
    height: 70px;
}

.selector_date:hover,
.selector_date:focus {
    background-color: #DB8876;
    color: black;
}

.selector_date {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
}

.selector_title {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
}

.selector_title:hover,
.selector_title:focus {
    background-color: #DB8876;
    color: black;
    border-radius: 0 0 5px 5px;
}

.date {
    display: flex;
    flex: 0.99;
    margin-left: 20px;
    align-items: center;
}

.title {
    display: flex;
    flex: 0.99;
    margin-left: 20px;
    align-items: center;
    height: 100%;
}

/* media */

.photograph-media-section {
    display: flex;
    flex-wrap: wrap;
    margin: 120px 0 0 100px;
    justify-content: start;
    gap: 0 93px;
    
}

.photograph-media-section article img {
    height: 310px;
    width: 360px;
    object-fit: cover;
    border-radius: 8px;
}

.photograph-media-section article video {
    height: 310px;
    width: 360px;
    object-fit: cover;
    border-radius: 8px;
}

/* media title and likes */

.photograph-media-section .heart-like {
    filter: invert(15%) sepia(57%) saturate(4618%) hue-rotate(355deg) brightness(82%) contrast(83%);
    transition: all 0.1s ease-in-out;
}

.photograph-media-section .heart-like:hover,
.photograph-media-section .heart-like:focus {
    cursor: pointer;
    filter: invert(37%) sepia(85%) saturate(7500%) hue-rotate(8deg) brightness(90%) contrast(101%);
    transition: all 0.1s ease-in-out;
}

/* lightbox */

.lightbox {
    display: none;
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 3;
}

#lightbox__close {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 75px;
    left: 90vw;
    opacity: 1;
    transition: opacity .3s;
    z-index: 5;
}

#lightbox__close:hover,
#lightbox__close:focus {
    opacity: 0.5;
}

#lightbox__next,
#lightbox__prev {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 47%;
    z-index: 4;
    opacity: 1;
    cursor: pointer;
    transition: .3s;
}

#lightbox__prev {
    right: 90vw;
}

#lightbox__next {
    left: 90vw;
}

#lightbox__next:hover,
#lightbox__prev:hover,
#lightbox__next:focus,
#lightbox__prev:focus {
    opacity: .5;
}

.media-lightbox, 
.lightbox video {
    margin-top: 60px;
    height: 1px;
    width: 73%;
    flex-grow: 1;
    object-fit: cover;
    border-radius: 5px;
}

.lightbox h2 {
    display: flex;
    color: #901C1C;
    height: 60px;
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: 400;
    font-size: 1.5rem;
    width: 73%;
    align-items: center;
}

.lightbox h2:focus {
    color: black;
}

/* likes and price */

.price-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #DB8876;
    width: 370px;
    height: 60px;
    position: fixed;
    z-index: 1;
    border-radius: 5px 5px 0px 0px;
    right: 20%;
    bottom: 0px;
}

.price-container .price-container_likes {
    margin-left: 30px;
    font-weight: 600;
    font-size: larger;
}

.price-container img {
    margin-left: 5px;
    max-width: 15px;
    max-height: 15px;
}

.price-container .price-container_price {
    margin-left: 130px;
    font-weight: 600;
    font-size: larger;
}

.media-title-likes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
    margin: 10px 0 40px 0;
}

.media-title-likes span{
    font-size: 1.4rem;
    font-weight: 600;
}

.media-title {
    font-size: 1.4rem;
    margin: 0;
}

.heart-like {
    max-height: 1.1rem;
    max-width: 1.1rem;
    margin-left: 2px;
}