@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
        width: 1366px;
        margin: 0 auto;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin: 12px;
} 

.photographer_section article a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
} 

.photographer_section article img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.photographer_section article .price {
    font-size: 0.8rem;
    color: grey;
}

.photographer_section article .tagline {
    margin-bottom: 6px;
}

.photographer_section article .photographer-city {
    color: #901C1C
}